<menu>
  <h2>
    <i class="fa-brands fa-apple"></i>Brand Name</h2>
  <ul>
    <li class="active">
      <a href="" [routerLink]="['/dashboard']">
        <i class="fa-solid fa-house-chimney"></i>Dashboard
      </a>
    </li>
    <li>
      <a href="" [routerLink]="['/customer']">
        <i class="fa-solid fa-user-group"></i> Customers
      </a>
    </li>
    <li>
      <a href="" [routerLink]="['/message']">
        <i class="fa-solid fa-comment"></i> Messages
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-question"></i> Help
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-gear"></i> Settings
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-lock"></i> Password
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Sign out
      </a>
    </li>
  </ul>
</menu>
