<!-- la interpolacion es la combinacion de html y variables para no tener textos harcodeados en el html -->
<!-- <h3>{{title}}</h3> -->
<!-- <h4 *ngIf="showSubtitle">{{subtitle}}</h4> -->
<!-- pipe : es indicar como queremos que se muestren los dartos en este caso como es un objeto se indica que es tipo json -->
<!-- <h4>{{objeto | json }}</h4> -->
<!-- <input type="text" value="" [(ngModel)]="inputValor" /> -->
<!-- <pre>{{inputValor}}</pre> -->

<gft-menu></gft-menu>

<section class="container">
  <gft-header></gft-header>

  <main>
    <router-outlet></router-outlet>
  </main>
</section>
